In [ ]:
# 5. LEGGERE E SELEZIONARE I DATI

In [2]:
import pandas as pd

In [6]:
df = pd.read_csv("/Users/carlovilloresi/Documents/Trading/Dati Storici/Files/tsla.csv")

# prendere un indice unico non è possibile ma possiamo utilizzare lo SLICING
print(df[2:5])

         Date        Open        High         Low       Close   Adj Close  \
2  2023-07-12  276.329987  276.519989  271.459991  271.989990  271.989990
3  2023-07-13  274.589996  279.450012  270.600006  277.899994  277.899994
4  2023-07-14  277.010010  285.299988  276.309998  281.380005  281.380005

      Volume
2   95672100
3  112681500
4  119771100

In [11]:
# HEAD o TAIL 

print(df.head())
print(df.head(10)) # prime 10 

print(df.tail())
print(df.tail(15)) # ultime 15

         Date        Open        High         Low       Close   Adj Close  \
0  2023-07-10  276.470001  277.519989  265.100006  269.609985  269.609985
1  2023-07-11  268.649994  270.899994  266.369995  269.790009  269.790009
2  2023-07-12  276.329987  276.519989  271.459991  271.989990  271.989990
3  2023-07-13  274.589996  279.450012  270.600006  277.899994  277.899994
4  2023-07-14  277.010010  285.299988  276.309998  281.380005  281.380005

      Volume
0  119425400
1   91972400
2   95672100
3  112681500
4  119771100
         Date        Open        High         Low       Close   Adj Close  \
0  2023-07-10  276.470001  277.519989  265.100006  269.609985  269.609985
1  2023-07-11  268.649994  270.899994  266.369995  269.790009  269.790009
2  2023-07-12  276.329987  276.519989  271.459991  271.989990  271.989990
3  2023-07-13  274.589996  279.450012  270.600006  277.899994  277.899994
4  2023-07-14  277.010010  285.299988  276.309998  281.380005  281.380005
5  2023-07-17  286.630005  292.230011  283.570007  290.380005  290.380005
6  2023-07-18  290.149994  295.260010  286.010010  293.339996  293.339996
7  2023-07-19  296.040009  299.290009  289.519989  291.260010  291.260010
8  2023-07-20  279.559998  280.929993  261.200012  262.899994  262.899994
9  2023-07-21  268.000000  268.000000  255.800003  260.019989  260.019989

      Volume
0  119425400
1   91972400
2   95672100
3  112681500
4  119771100
5  131569600
6  112434700
7  142355400
8  175158300
9  161050100
           Date        Open        High         Low       Close   Adj Close  \
247  2024-07-02  218.889999  231.300003  218.059998  231.259995  231.259995
248  2024-07-03  234.559998  248.350006  234.250000  246.389999  246.389999
249  2024-07-05  249.809998  252.369995  242.460007  251.520004  251.520004
250  2024-07-08  247.710007  259.440002  244.570007  252.940002  252.940002
251  2024-07-09  251.000000  265.609985  250.300003  262.329987  262.329987

        Volume
247  205047900
248  166561500
249  154501200
250  157219600
251  160210900
           Date        Open        High         Low       Close   Adj Close  \
237  2024-06-17  177.919998  188.809998  177.000000  187.440002  187.440002
238  2024-06-18  186.559998  187.199997  182.369995  184.860001  184.860001
239  2024-06-20  184.679993  185.210007  179.660004  181.570007  181.570007
240  2024-06-21  182.300003  183.949997  180.690002  183.009995  183.009995
241  2024-06-24  184.970001  188.800003  182.550003  182.580002  182.580002
242  2024-06-25  184.399994  187.970001  182.009995  187.350006  187.350006
243  2024-06-26  186.539993  197.759995  186.360001  196.369995  196.369995
244  2024-06-27  195.169998  198.720001  194.050003  197.419998  197.419998
245  2024-06-28  199.550003  203.199997  195.259995  197.880005  197.880005
246  2024-07-01  201.020004  213.229996  200.850006  209.860001  209.860001
247  2024-07-02  218.889999  231.300003  218.059998  231.259995  231.259995
248  2024-07-03  234.559998  248.350006  234.250000  246.389999  246.389999
249  2024-07-05  249.809998  252.369995  242.460007  251.520004  251.520004
250  2024-07-08  247.710007  259.440002  244.570007  252.940002  252.940002
251  2024-07-09  251.000000  265.609985  250.300003  262.329987  262.329987

        Volume
237  109786100
238   68982300
239   55893100
240   63029500
241   61992100
242   63678300
243   95737100
244   72746500
245   95438100
246  135691400
247  205047900
248  166561500
249  154501200
250  157219600
251  160210900

In [21]:
# prendere una sola colonna 

print(df['Volume'])

print(df['Volume'][2:5]) # con slicing da 2 a 5 

print(df['Volume'].head(3)) # con il metodo head delle prime 3 righe

0      119425400
1       91972400
2       95672100
3      112681500
4      119771100
         ...
247    205047900
248    166561500
249    154501200
250    157219600
251    160210900
Name: Volume, Length: 252, dtype: int64
2     95672100
3    112681500
4    119771100
Name: Volume, dtype: int64
0    119425400
1     91972400
2     95672100
Name: Volume, dtype: int64

In [25]:
# prendere PIÙ colonne

# per prendere più colonne dobbiamo CREARE UN ARRAY DI COLONNE 

print(df[['Volume', 'High']].head(3))

print(df[['Volume', 'High', 'Low']][8:14]) # con slicing

      Volume        High
0  119425400  277.519989
1   91972400  270.899994
2   95672100  276.519989
       Volume        High         Low
8   175158300  280.929993  261.200012
9   161050100  268.000000  255.800003
10  136508500  269.850006  254.119995
11  112757300  272.899994  265.000000
12   95856200  268.040009  261.750000
13  103697300  269.130005  255.300003

In [32]:
# INTRODUZIONE LOC e ILOC

print(df.loc[0]) # verrà presa la prima riga

print(df.loc[2, 'Open']) # LOC CHIEDE IL NOME COLONNA quindi INDICE RIGA + NOME COLONNA

Date         2023-07-10
Open         276.470001
High         277.519989
Low          265.100006
Close        269.609985
Adj Close    269.609985
Volume        119425400
Name: 0, dtype: object
276.329987

In [33]:
print(df.iloc[0, 2]) # ILOC CHIEDE L'INDICE COLONNA quindi INDICE RIGA E INDICE COLONNA

277.519989

In [ ]:
# LOC: localization 

# ILOC: index localization