In [3]:
# 11. FILTARE I DATI 

import pandas as pd

In [5]:
# UGUALE E DIVERSO

df = pd.read_csv('pokemon.csv')

# print(df['Name' == 'Bulbasaur']) questa sintassi darebbe errore perché il DF va passato nella condizione, cioè, Bulbasuar non deve essere la condizione, ma IL RISULTATO DELLA CONDIZIONE

print(df[df.Name == 'Bulbasaur'])   # cos' mando a schermo DF(il primmo) dove DF.NAME è == a Bulba 

print(df[df.Name != 'Bulbasaur'].head(4))  # tutto diverso da Bulba

   #       Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
0  1  Bulbasaur  Grass  Poison    318  45      49       49       65       65

   Speed  Generation  Legendary
0     45           1      False
   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
1  2                Ivysaur  Grass  Poison    405  60      62       63
2  3               Venusaur  Grass  Poison    525  80      82       83
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4             Charmander   Fire     NaN    309  39      52       43

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False
4       60       50     65           1      False

In [7]:
# STR.CONTAINS

print(df[df['Name'].str.contains('saur')])  # mando a schermo il df Name che contiene le lettere Saur

   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1              Bulbasaur  Grass  Poison    318  45      49       49
1  2                Ivysaur  Grass  Poison    405  60      62       63
2  3               Venusaur  Grass  Poison    525  80      82       83
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False

In [11]:
# IN: il nome deve essere in (DENTRO) e la sintassi richiede ISIN 

# IN necessita di un filtro

filter = ['Bulbasaur', 'Charmander','Squirtle']

print(df[df['Name'].isin(filter)])

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

In [12]:
# MAGGIORE E MINORE

# se abbiamo dei numeri possiamo utilizzare MAGGIORE E MINORE

print(df[df['Total'] > 700])

       #                   Name   Type 1    Type 2  Total   HP  Attack  \
163  150    MewtwoMega Mewtwo X  Psychic  Fighting    780  106     190
164  150    MewtwoMega Mewtwo Y  Psychic       NaN    780  106     150
422  382    KyogrePrimal Kyogre    Water       NaN    770  100     150
424  383  GroudonPrimal Groudon   Ground      Fire    770  100     180
426  384  RayquazaMega Rayquaza   Dragon    Flying    780  105     180
552  493                 Arceus   Normal       NaN    720  120     120

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
163      100      154      100    130           1       True
164       70      194      120    140           1       True
422       90      180      160     90           3       True
424      160      150       90     90           3       True
426      100      180      100    115           3       True
552      120      120      120    120           4       True

In [25]:
# TILDE: ~ (option + 5)

# la tilde indica il contrario di ciò che abbiamo inserito

print(df[~df['Total'] < 200])

       #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 13 columns]

In [27]:
# && (and) e OR: su Pandas si indicano rispettivamente con & e | 

print(df[(df['Total'] > 700) & (df['Sp. Atk'] > 160)])  # importante l'uso delle parentesi, le cui condizioni va inserite in ulteriori parentesi tonde

print(df[(df['Total'] > 700) | (df['Total'] < 250)])

       #                   Name   Type 1  Type 2  Total   HP  Attack  Defense  \
164  150    MewtwoMega Mewtwo Y  Psychic     NaN    780  106     150       70
422  382    KyogrePrimal Kyogre    Water     NaN    770  100     150       90
426  384  RayquazaMega Rayquaza   Dragon  Flying    780  105     180      100

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
164      194      120    140           1       True
422      180      160     90           3       True
426      180      100    115           3       True
       #                   Name    Type 1    Type 2  Total   HP  Attack  \
13    10               Caterpie       Bug       NaN    195   45      30
14    11                Metapod       Bug       NaN    205   50      20
16    13                 Weedle       Bug    Poison    195   40      35
17    14                 Kakuna       Bug    Poison    205   45      25
46    41                  Zubat    Poison    Flying    245   40      45
139  129               Magikarp     Water       NaN    200   20      10
163  150    MewtwoMega Mewtwo X   Psychic  Fighting    780  106     190
164  150    MewtwoMega Mewtwo Y   Psychic       NaN    780  106     150
175  161                Sentret    Normal       NaN    215   35      46
186  172                  Pichu  Electric       NaN    205   20      40
187  173                 Cleffa     Fairy       NaN    218   50      25
188  174              Igglybuff    Normal     Fairy    210   90      30
189  175                 Togepi     Fairy       NaN    245   35      20
206  191                Sunkern     Grass       NaN    180   30      30
209  194                 Wooper     Water    Ground    210   55      45
255  236                Tyrogue  Fighting       NaN    210   35      35
284  261              Poochyena      Dark       NaN    220   35      55
286  263              Zigzagoon    Normal       NaN    240   38      30
288  265                Wurmple       Bug       NaN    195   45      45
289  266                Silcoon       Bug       NaN    205   50      35
291  268                Cascoon       Bug       NaN    205   50      35
293  270                  Lotad     Water     Grass    220   40      30
296  273                 Seedot     Grass       NaN    220   40      40
303  280                  Ralts   Psychic     Fairy    198   28      25
316  292               Shedinja       Bug     Ghost    236    1      90
317  293                Whismur    Normal       NaN    240   64      51
320  296               Makuhita  Fighting       NaN    237   72      60
322  298                Azurill    Normal     Fairy    190   50      20
381  349                 Feebas     Water       NaN    200   20      15
422  382    KyogrePrimal Kyogre     Water       NaN    770  100     150
424  383  GroudonPrimal Groudon    Ground      Fire    770  100     180
426  384  RayquazaMega Rayquaza    Dragon    Flying    780  105     180
441  396                 Starly    Normal    Flying    245   40      55
446  401              Kricketot       Bug       NaN    194   37      25
457  412                  Burmy       Bug       NaN    224   40      29
462  415                 Combee       Bug    Flying    244   30      30
488  440                Happiny    Normal       NaN    220  100       5
552  493                 Arceus    Normal       NaN    720  120     120
727  659               Bunnelby    Normal       NaN    237   38      36
732  664             Scatterbug       Bug       NaN    200   38      35
733  665                 Spewpa       Bug       NaN    213   45      22
790  714                 Noibat    Flying    Dragon    245   40      30

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
13        35       20       20     45           1      False
14        55       25       25     30           1      False
16        30       20       20     50           1      False
17        50       25       25     35           1      False
46        35       30       40     55           1      False
139       55       15       20     80           1      False
163      100      154      100    130           1       True
164       70      194      120    140           1       True
175       34       35       45     20           2      False
186       15       35       35     60           2      False
187       28       45       55     15           2      False
188       15       40       20     15           2      False
189       65       40       65     20           2      False
206       30       30       30     30           2      False
209       45       25       25     15           2      False
255       35       35       35     35           2      False
284       35       30       30     35           3      False
286       41       30       41     60           3      False
288       35       20       30     20           3      False
289       55       25       25     15           3      False
291       55       25       25     15           3      False
293       30       40       50     30           3      False
296       50       30       30     30           3      False
303       25       45       35     40           3      False
316       45       30       30     40           3      False
317       23       51       23     28           3      False
320       30       20       30     25           3      False
322       40       20       40     20           3      False
381       20       10       55     80           3      False
422       90      180      160     90           3       True
424      160      150       90     90           3       True
426      100      180      100    115           3       True
441       30       30       30     60           4      False
446       41       25       41     25           4      False
457       45       29       45     36           4      False
462       42       30       42     70           4      False
488        5       15       65     30           4      False
552      120      120      120    120           4       True
727       38       32       36     57           6      False
732       40       27       25     35           6      False
733       60       27       30     29           6      False
790       35       45       40     55           6      False

In [31]:
# LOC: al cui interno si inserisce prima la nostra condizione e poi le colonne che vogliamo

print(df.loc[(df.Name == 'Bulbasaur')])

# e se voglio selezionare solo specifiche colonne
print(df.loc[(df.Name == 'Bulbasaur'), ['Name', 'HP', 'Generation']])

# LOC + str.contains 
print(df.loc[(df['Name'].str.contains('saur')), ['Name', 'HP', 'Generation']])

   #       Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
0  1  Bulbasaur  Grass  Poison    318  45      49       49       65       65

   Speed  Generation  Legendary
0     45           1      False
        Name  HP  Generation
0  Bulbasaur  45           1
                    Name  HP  Generation
0              Bulbasaur  45           1
1                Ivysaur  60           1
2               Venusaur  80           1
3  VenusaurMega Venusaur  80           1

In [35]:
# QUERY 

print(df.query('Name == "Bulbasaur"'))

print(df.query('Total > 750 and Speed > 100'))

# in query NON SI POSSONO inserire le colonne con nome e spazio. Ad es. Sp. Atk deve essere tutto attaccato 

# inoltre in query AND e OR vanno scritti PER ESTESO

   #       Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
0  1  Bulbasaur  Grass  Poison    318  45      49       49       65       65

   Speed  Generation  Legendary
0     45           1      False
       #                   Name   Type 1    Type 2  Total   HP  Attack  \
163  150    MewtwoMega Mewtwo X  Psychic  Fighting    780  106     190
164  150    MewtwoMega Mewtwo Y  Psychic       NaN    780  106     150
426  384  RayquazaMega Rayquaza   Dragon    Flying    780  105     180

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
163      100      154      100    130           1       True
164       70      194      120    140           1       True
426      100      180      100    115           3       True

In [ ]:
# Si può dire che LOC è scelto qualora dovessimo selezionare più colonne e ci permette di essere anche più veloce
# Query diventa più facile se avessimo già tutte le colonne formattate come si deve